<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">

  <head>
    <title>Discusserly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render partial: "shared/navbar" %>
    
    <!-- Canvas Container -->
    <div canvas="container">
      <!-- Top heading container -->
      <div class="container">
        <!-- Top Heading Row -->
        <div class="row">
          <!-- Top Heading Column -->
          <div class="col-lg-12">
            <!-- Top Heading -->
            <%= link_to 'Home', root_path, :class => "discusserly-button" %>
            <!-- Display Login Based on User Sign In or not -->
            <% if logged_in? %>
              <%= link_to 'Logout', logout_path, method: :delete, :class => "discusserly-button" %>
							<%= link_to 'Profile', current_user, :class => "discusserly-button" %>
            <% else %>
              <%= link_to "Sign up", new_user_path, :class => "discusserly-button" %>
            <%= link_to "Log in", login_path, :class => "discusserly-button" %>
            <% end %>
            <a class="js-toggle-left-slidebar discusserly-button">Menu</a>
          </div>
          <!-- Heading Column -->
        </div>
        <!-- Heading Row -->
        </div>
        <!-- Top Heading Containner -->
        <!-- Page Content -->
				<%= render partial: "shared/flash_messages" %>

      <%= yield %>
  		<%= debug(params) if Rails.env.development? %>
    </div>
    <!-- Canvas Container -->


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	
	</body>
</html>
